.contact-hero-sec,.form-hero-sec{
    display: flex;
    justify-content: center;
}
.contact-hero-sec{
    padding: 200px 0 100px 0;
}
.form-hero-sec{
    padding: 100px 0;
}
.contact-hero-container,.form-hero-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.form-hero-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    gap: 20px;
}
.form-hero-container form input{
    background: none;
    border:1px solid #BDBDBD;
    padding: 24px 18px;
    width: 90%;

}
.contact-hero-title h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-hero-p p{
    color: #FFFFFFCC;
    font-weight: 500;
    font-size: 32px;
    line-height: 51.2px;
}
.form-hero-container form input,.form-hero-container form textarea {
    color: rgba(242, 242, 242, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Neue Montreal";
}
.form-hero-container form textarea{
    background: none;
    border:1px solid #BDBDBD;
    padding: 24px 18px;
    height: 120PX;
    width: 90%;
}
.form-hero-container form button{
    margin-top: 30px;
    background: rgba(183, 158, 86, 1);
    border: none;
    padding: 16px 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    font-family: "Neue Montreal";
}
.form-hero-map {
    width: 40vw;
    height: 300px;
}
.form-map{
    height: 300px;
}
.form-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-top: 33px;
}
.form-data p{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: fit-content;
}
.form-data p:nth-child(1){
    align-items: flex-start;
}
.form-hero-sec {
    background: url("/VectorBg.png");
    background-repeat: no-repeat;
    background-position: top right;
}
@media screen and (max-width: 1024px){
    .form-hero-container form input,.form-hero-container form textarea{
        width: 100%;
    }
    .form-hero-container form{
        margin-top: 160px;
    }
    .contact-hero-container, .form-hero-container{
        flex-direction: column;
    }
    .form-hero-container form,.contact-hero-p{
        width: 90%;
    }
    .contact-hero-title h1{
        font-size: 42px;
    }
    .contact-hero-p p{
        margin-top: 30px;
        font-size: 20px;
        line-height: 35px;
    }
    .contact-hero-sec{
        padding: 100px 0 50px 0;
    }
    .form-hero-sec {
        padding: 50px 0;
    }
    .form-hero-container form input, .form-hero-container form textarea{
        width: 100%;
    }
    .form-hero-map{
        height: 300px;
        width: 90vw;
        margin-bottom: 50px;
    }


}
@media screen and (max-width: 768px){
    .form-data{
        grid-template-columns: repeat(1, 1fr); 

    }
}