.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/afafafafafafa.png"),#13293D;
    background-position: center;
    background-repeat: no-repeat;
    
    z-index: 9999;
  }
  .loader img{
    width: 200px;
    height: 110px;
    margin-bottom: 90px;
  }