.Projects-hero-sec{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.Projects-hero-container{
    width: 90%;
}
.Projects-hero-title{
    width: 678px;
}
.Projects-hero-title h1{
    font-weight: 700;
    font-size: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 96px;
}
.Projects-hero-title h1:nth-child(2){
    text-align: center;
}
.Projects-hero-title h1:nth-child(3){
    text-align: right;
}
.Projects-banner{
    width: 100%;
}
.Deansgate-sec{
    display: flex;
    justify-content: center;
}
.Deansgate-container{
    width: 90%;
}
.Deansgate-content{
    text-align: center;
    padding: 82px;
}
.Deansgate-content h1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 54px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Deansgate-content p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28.8px;
    font-family: "Neue Montreal";
    margin-top: 50px;
}
.Deansgate-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 125px;
}
.Deansgate-single-card{
    width: 413px;
}
.Deansgate-single-card h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 38.4px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 30px;
    text-transform: uppercase;
}
.Deansgate-single-card p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    font-family: "Neue Montreal";
}
.Greensgate-duolImage{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Greensgate-sec{
    display: flex;
    
    justify-content: center;
}
.Greensgate-container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.Greensgate-title{
    width: 80%;
    padding: 82px 0;
    text-align: center;
}
.Greensgate-title h1{
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.Greensgate-title p{
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Neue Montreal";
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 1px;
}
.Greensgate-image img{
    width: 100%;
}
.Greensgate-duolImage {
    margin-bottom: 20px;
}
.Greensgate-duolImage img{
    width: 626px;
}
.JVC-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JVC-container h1{
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 710px;
    text-align: center;
}
.JVC-Coming-Soon{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}
@media screen and (max-width: 1024px){
    .JVC-container h1{
        max-width: 100vw;
        font-size: 32px;
    }
    .Deansgate-single-card{
        display: flex;
        flex-direction: column;
    }
    .Deansgate-card{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        gap: 30px;
        margin-bottom: 50px;
    }
    .Projects-hero-title{
        width: 60%;
    }
    .Projects-hero-title h1{
        font-size: 42px;
    }
    .Deansgate-content{
        padding: 0;
    }
    .Greensgate-duolImage{
        flex-direction: column;
    }
    .Greensgate-image img{
        height: 330px;
         object-fit: cover;
         width: 100%;
    }
    .Greensgate-title h1{
        font-size: 32px;
    }
    .Deansgate-single-card,.Deansgate-single-card img,.Greensgate-title p,.Greensgate-title{
        width: 100%;
    }
    .Projects-banner{
        height: 364px;
        object-fit: cover;
    }
    .Projects-hero-sec{
        padding: 50px 0;
    }
    .Deansgate-content h1{
        margin-top: 50px;
        font-size: 32px;
        width: 100%;
    }
    .Deansgate-content p{
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .Projects-hero-title{
        width: 90%;
    }
}